.vscode
.git
.gitignore
GLaDOS
node_modules
ProfilePictures
*.bat
*.js.map
*.js
**/*.js.map
**/*.js
bots.service
*.sh
Dockerfile
package-lock.json
permissions.png
README.md
botConfigDocs.ts
Commands.ts
