# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache


*.js
custom_modules/*.js
Pokebot/*.js
*.map
custom_modules/*.map
Pokebot/*.map
node_modules/*
package-lock.json
test.*
