# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variables file
.env
.env.test

# user info
GLaDOS/userinfo/347039494375079947/coinflip/wins.txt
GLaDOS/userinfo/347039494375079947/coinflip/losses.txt

# parcel-bundler cache (https://parceljs.org/)
.cache
