[Unit]
Description=My Sample Service
After=multi-user.target

[Service]
WorkingDirectory=/home/Ras
Type=idle
ExecStart=/home/Ras/Ras-s-Discord-Bots/Bots.sh

[Install]
WantedBy=multi-user.target