 [Unit]
 Description=My Sample Service
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/Ras
 Type=idle
 ExecStart=/home/Ras/Ras-s-Discord-Bots/Bots.sh
 Restart=on-failure

 [Install]
 WantedBy=multi-user.target